.subtitle{
    color:var(--muted);
    font-size:1.2rem;
    margin-bottom:30px;
}

header{
    margin-bottom:40px;
}

section{
    margin-bottom:30px;
}

nav a{
    padding-bottom:5px;
    border-bottom:1px solid transparent;
    transition:0.2s;
}

nav a:hover{
    border-bottom:1px solid var(--accent);
}
input, textarea{
    width:100%;
    background:var(--bg);
    border:1px solid var(--border);
    color:var(--text);
    padding:12px;
    margin-top:6px;
    outline:none;
}

input:focus, textarea:focus{
    border-color:var(--accent);
}

button{
    background:var(--accent);
    border:none;
    padding:12px 20px;
    cursor:pointer;
    color:#111;
    font-weight:bold;
    margin-top:10px;
}

button:hover{
    opacity:0.9;
}