:root{
  --bg:#0b0b0c;
  --panel:#141416;
  --text:#f1f1f1;
  --muted:#a1a1a1;
  --accent:#c7a86b;
  --border:#1f1f22;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:var(--bg);
  color:var(--text);
  font-family: Inter, system-ui, -apple-system, sans-serif;
  max-width:900px;
  margin:auto;
  padding:70px 25px;
  line-height:1.9;
  letter-spacing:0.2px;
}

/* NAV (خیلی مهم برای حس طراحی) */
nav{
  display:flex;
  gap:28px;
  margin-bottom:90px;
  font-size:14px;
  text-transform:uppercase;
  letter-spacing:2px;
}

nav a{
  color:var(--muted);
  text-decoration:none;
  transition:0.3s;
}

nav a:hover{
  color:var(--accent);
}

/* TYPOGRAPHY */
h1{
  font-size:3.2rem;
  font-weight:500;
  margin-bottom:20px;
}

h2{
  font-size:1.4rem;
  margin:50px 0 20px;
  color:var(--accent);
  font-weight:500;
}

p{
  color:var(--text);
  opacity:0.9;
  margin-bottom:18px;
  max-width:70ch;
}

/* CARD */
.card{
  background:transparent;
  border-left:1px solid var(--border);
  padding-left:20px;
  margin:50px 0;
}

/* LINKS */
a{
  color:var(--accent);
}

/* FOOTER */
footer{
  margin-top:120px;
  color:var(--muted);
  font-size:13px;
}

/* subtle hover feel */
.card:hover{
  border-left:1px solid var(--accent);
  transition:0.4s;
}

input, textarea{
  width:100%;
  background:transparent;
  border:1px solid var(--border);
  color:var(--text);
  padding:12px;
  margin-bottom:15px;
  font-size:14px;
}

textarea{
  resize:none;
}

button{
  width:100%;
  padding:12px;
  background:var(--accent);
  border:none;
  color:#111;
  font-weight:bold;
  cursor:pointer;
}

button:hover{
  opacity:0.9;
}

html{
    scroll-behavior:smooth;
}

.project-image{
    width:100%;
    max-width:679px;
    height:auto;
    display:block;
    margin:30px auto 10px auto;
}

.card p{
    margin:6px 0 14px 0;
    line-height:1.6;
}

.card img + p{
    margin-top:8px;
}

.septets .project-image{
    margin:25px auto 6px auto;
}

.septets .card p{
    margin:6px 0 12px 0;
}

.target .project-image{
    margin:45px auto 15px auto;
}

.target .card p{
    margin:10px 0 18px 0;
    line-height:1.8;
}